.inner-circle {
    width: 22px;
    height: 22px;

    border-radius: 50%;
    border: 3px solid transparent;

    transform-origin: center;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        rotate: 0
    }

    100% {
        rotate: 360deg;
    }
}