.inner-circle {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 3px solid transparent;

    border-top-color: #222;
    border-right-color: #222;

    transform-origin: center;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        rotate: 0
    }

    100% {
        rotate: 360deg;
    }
}